{% extends 'catalog/base.html' %}
{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Подтверждение отмены публикации продукта</h5>
                    <p class="card-text">Вы уверены, что хотите отменить публикацию продукта "{{ object.name }}"?</p>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="confirm" name="confirm">
                            <label class="form-check-label" for="confirm">Подтвердите отмену публикации</label>
                        </div>
                        <button type="submit" class="btn btn-danger mt-3">Отменить публикацию</button>
                        <a class="btn btn-secondary mt-3" href="{% url 'catalog:products' %}" role="button">Отменить</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
