{% extends 'catalog/base.html' %}
{% load my_tags my_filters %}
{% block content %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow-sm">
                    {% if product.image %}
                    <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }} ({{ product.slug }})</h5>
                        <p class="card-text"><strong>Категория:</strong> {{ product.category }}</p>
                        <p class="card-text"><strong>Описание:</strong> {{ product.description }}</p>
                        <p class="card-text"><strong>Цена:</strong> {{ product.purchase_price }}₽</p>
                        <p class="card-text"><strong>Дата и время создания:</strong> {{ product.created_at|date:"d.m.Y" }} {{ product.created_at|time:"H:i" }}</p>
                        <p class="card-text"><strong>Дата и время последнего изменения:</strong> {{ product.updated_at|date:"d.m.Y" }} {{ product.updated_at|time:"H:i" }}</p>
                        <h5 class="mt-4">Версии продукта</h5>
                        <ul>
                            {% for version in product.version_set.all %}
                                <li>{{ version.version_name }} ({{ version.version_number }})
                                    {% if version.is_current %} - Текущая версия{% endif %}
                                    {% if user.is_authenticated %}
                                        <a href="{% url 'catalog:version_delete' product.pk version.pk %}" class="btn btn-danger btn-sm">Удалить</a>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                        <a href="{% url 'catalog:products' %}" class="btn btn-primary" role="button">Назад</a>
                        {% if user == product.owner or perms.catalog.change_product %}
                            <a href="{% url 'catalog:product_update' product.pk %}" class="btn btn-secondary" role="button">Редактировать</a>
                            <a href="{% url 'catalog:product_delete' product.pk %}" class="btn btn-danger" role="button">Удалить</a>
                            <a href="{% url 'catalog:unpublish_product' product.pk %}" class="btn btn-warning" role="button">Отменить публикацию</a>
                        {% endif %}
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Просмотры: {{ product.views_counter }}</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
