{% extends 'catalog/base.html' %}
{% block content %}
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card shadow-sm">
                    <div class="card-header text-center">
                        <h5 class="card-title">
                            {% if object %}
                                Редактировать продукт
                            {% else %}
                                Создать новый продукт
                            {% endif %}
                        </h5>
                    </div>
                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <h5 class="mt-4">Версии продукта</h5>
                            {{ versions.management_form }}
                            {% for form in versions %}
                                <div class="nested-form mb-3" data-version-id="{{ form.instance.pk }}">
                                    {{ form.as_p }}
                                    {% if form.instance.pk %}
                                        <p><a href="#" class="btn btn-danger btn-sm" onclick="deleteVersion(event, {{ form.instance.pk }})">Удалить эту версию</a></p>
                                    {% endif %}
                                </div>
                            {% endfor %}
                            <div class="text-center mt-4">
                                <button type="submit" class="btn btn-primary">
                                    {% if object %}
                                        Сохранить
                                    {% else %}
                                        Создать
                                    {% endif %}
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

<script>
    function deleteVersion(event, versionId) {
        event.preventDefault();
        const versionForm = document.querySelector(`div[data-version-id="${versionId}"]`);
        if (versionForm) {
            versionForm.style.display = 'none';
            const deleteInput = versionForm.querySelector('input[name$="-DELETE"]');
            if (deleteInput) {
                deleteInput.checked = true;
            }
        }
    }
</script>